<a href="https://colab.research.google.com/github/Tanisha2910/Data-Science-Python/blob/master/ListTuplesSets.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [21]:
courses = ['Math', 'science', 'History', 'GK']
print(len(courses))
# It will print 0 and 1 till 2 but not including 2
print(courses[0:2])
print(courses[:2])
print(courses[2:])

4
['Math', 'science']
['Math', 'science']
['History', 'GK']

In [22]:
# Adding an item in the list with the use of append
# Below will append to the end of the list
courses.append('Art')
print(courses)

['Math', 'science', 'History', 'GK', 'Art']

In [23]:
# If we want to add some item to the specific location then we will use insert method 
# Index takes 2 arguments 1st : it takes the index where u want to insert and then the value itself
# below 0 is the location
courses.insert(0, 'Art')
print(courses)

['Art', 'Math', 'science', 'History', 'GK', 'Art']

In [24]:
# Another method of inserting values to the list is with thw use of extend method
# We use extend when we have multiple values to add to our list
course_2 = ['Art', 'Education']
courses.extend(course_2)
print(courses)

['Art', 'Math', 'science', 'History', 'GK', 'Art', 'Art', 'Education']

In [28]:
# Removing values
courses.remove('Art')
print(courses)

['science', 'History', 'GK', 'Art', 'Art', 'Education']

In [29]:
# Pop() Method:  this will remove the last value of our list
courses.pop()
print(courses)

['science', 'History', 'GK', 'Art', 'Art']

In [30]:
course_2 = ['Math', 'Art', 'Science', 'GK']
# Now we want to reverse our list
course_2.reverse()
print(course_2)

['GK', 'Science', 'Art', 'Math']

In [32]:
# Sorting the list in alphabetical order
course_2.sort()
print(course_2)

['Art', 'GK', 'Math', 'Science']

In [35]:

# Sort in ascending ordernums = [2, 4, 6 , 3]
nums.sort()
print(nums)

[6, 4, 3, 2]

In [41]:
# WHAT if we want sort in descending order then we can do it in 2 ways:
# We can first sort it in ascending order and reverse it
# nums.sort()
# nums.reverse()
# print(nums)

# Or we can do it in an easier ways
num_1 = [8, 3, 7, 5, 0, 2]
num_1.sort(reverse = True)
print(num_1)

[8, 7, 5, 3, 2, 0]

In [42]:
# Other functions
print(min(num_1))
print(max(num_1))
print(sum(num_1))

0
8
25

In [43]:
print(course_2.index('Art'))

0

In [44]:
# Now we want to check if GK is in our course_2 list or not
print('GK' in course_2)

True

In [46]:
# Now we are going to create a loop where looping through each value of our list and each loop throuh this item variable will be equal to the next item in the list
for course in course_2:
    print(course)
# Inoutput every thing is coming in next line coz by default print statement webt to the new line

Art
GK
Math
Science

In [48]:
# Enumerate function returns that were on the value
for index, course in enumerate(course_2):
    print(index, course)

0 Art
1 GK
2 Math
3 Science

# **SETS**

In [58]:
course = {'Art', 'History', 'Bio', 'Geo'}
print(course)
type(course)

# Sets remove duplicate values
course = {'Art', 'History', 'Bio', 'Geo', 'Art'}
# It will print after removing the duplicate values
print(course)

print('Bio' in course)

{'History', 'Art', 'Bio', 'Geo'}
{'History', 'Art', 'Bio', 'Geo'}
True

In [62]:
# Other functions of sets
set_1 = {'Art', 'History', 'Bio', 'Geo'}
set_2 = {'Bio', ' Geo', 'GK', 'Phy'}
# Now we want to see what courses there 2 sets have in common, so we will use intersection
print(set_2.intersection(set_1))

{'Bio'}